[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"
importlib-metadata = "*"
black = "==19.10b0"
pylint = "*"
setuptools = "*"
wheel = "*"
bump = "*"
pytest-cov = "*"

[packages]
requests = "*"